@import "variables";

#filter {
	background: $lightStone;
	width: 25%;
	max-width: 250px;
	display: inline-block;
	float: left;

	.insideFilter {
		padding: 25px;
		max-width: 250px;
	}

	h2 {
		margin-bottom: 25px;
		text-transform: lowercase;
		font-weight: 500;
		font-size: 1rem;
		color: $darkBrown;
		letter-spacing: 1px;
	}

	select {
		/*-webkit-appearance: none; 
   	-moz-appearance: none;*/
   	/*appearance: none;*/       /* remove default arrow */
   /*	background-image: url(...);*/   /* add custom arrow */
		background: transparent;
		border-radius: 5px;
		padding: 5px;
		font-size: 12px;
		font-weight: 400;
		color: $darkBrown;
		display: block;
		margin-bottom: 25px;
		width: 100%;
	}

	.filters {
		.title {
			color: $offwhite;
			letter-spacing: 1px;
			font-size: 1rem;
			display: block;
			margin-bottom: 15px;
		}

		input[type="text"]{
			border-radius: 5px;
			padding: 0.5rem;
			width: 50%;
			display: inline-block;
			margin-bottom: 15px;
		}

		&.features {
			label {
				display: block;
				width: 100%;
				padding: 5px 0;

				input[type="checkbox"] {
					float: right;
				}
			}	
		}
	}
}

/* - - - LISTINGS AREA - - - */
#listings {
	background: $offwhite;
	width: 75%;
	display: inline-block;
	float: left;
	padding: 25px 15px;

	.search-area {
		input[type="text"] {
			width: 70%;
			background: transparent;
			font-size: 1.5rem;
			border: none;
			border-bottom: 1px solid $darkBrown;
			margin-bottom: 25px;
			color: $lightStone;
		}
	}
	
	.sort-area {
		display: inline-block;
		margin-bottom: 25px;
		width: 70%;
		
		.results {
			font-size: 0.8rem;
			color: $lightBrown;
			display: inline-block;
		}

		.sort-options {
			display: inline-block;
			float: right;
			
			.sortby {
				display: inline-block;
				font-size: 0.8rem;
				background: transparent;
				border: none;
				margin-right: 15px;
				vertical-align: top;
			}

			.view {
				display: inline-block;
				color: $lightBrown;

				.fas {
					margin-right: 15px;
				}
			}
		}
	}

	.pagination {
		display: inline-block;

		.pagination-num {
			li {
				list-style: none;
				display: inline-block;
				padding: 10px;

				&:hover {
					background: $mutedGreen;
				}
			}
		}
		
	}
}