@import "variables";

/**
	$lightBrown in rgba
	color: rgba(142, 109, 87, 0.8);
*/

#content-area {
	width: 100%;
	overflow: auto;
	min-height: 100vh;
}

#filter {
	background: $lightStone;
	width: 25%;
	max-width: 250px;
	display: inline-block;
	float: left;

	.insideFilter {
		padding: 25px;
		max-width: 250px;
	}

	h2 {
		margin-bottom: 25px;
		text-transform: lowercase;
		font-weight: 500;
		font-size: 1rem;
		color: $darkBrown;
		letter-spacing: 1px;
	}

	label {
		font-size: 0.9rem;
		color: $darkBrown;
	}

	select {
		/*-webkit-appearance: none; 
   	-moz-appearance: none;*/
   	/*appearance: none;*/       /* remove default arrow */
   /*	background-image: url(...);*/   /* add custom arrow */
		background: transparent;
		border-radius: 5px;
		padding: 5px;
		font-size: 12px;
		font-weight: 400;
		color: $darkBrown;
		display: block;
		margin-bottom: 25px;
		width: 100%;
	}

	.filters {
		.title {
			color: $offwhite;
			letter-spacing: 1px;
			font-size: 1rem;
			display: block;
			margin-bottom: 15px;
		}

		input[type="text"]{
			border-radius: 5px;
			padding: 0.5rem;
			width: 50%;
			display: inline-block;
			margin-bottom: 15px;
		}

		&.features {
			label {
				display: block;
				width: 100%;
				padding: 5px 0;

				input[type="checkbox"] {
					float: right;
				}
			}	
		}
	}
}

/* - - - LISTINGS AREA - - - */
#listings {
	background: $offwhite;
	width: 75%;
	display: inline-block;
	float: left;
	padding: 25px 15px;

	.search-area {
		input[type="text"] {
			width: 70%;
			background: transparent;
			font-size: 1.5rem;
			font-weight: 100;
			border: none;
			border-bottom: 1px solid $darkBrown;
			margin-bottom: 25px;
			color: $lightStone;
		}
	}
	
	.sort-area {
		/*display: inline-block;*/
		margin-bottom: 25px;
		/*width: 70%;*/
		
		.results {
			font-size: 0.8rem;
			color: rgba(142, 109, 87, 0.8);
			display: inline-block;
		}

		.sort-options {
			display: inline-block;
			float: right;
			
			.sortby {
				display: inline-block;
				font-size: 0.8rem;
				background: transparent;
				border: none;
				margin-right: 15px;
				vertical-align: top;
				color: $darkBrown;
			}

			.view {
				display: inline-block;
				color: $lightBrown;

				.fas {
					margin-right: 15px;
				}
			}
		}
	}

	.listings-results {
		margin-bottom: 50px;

		.listing {
			background: white;
			/*width: 33.33%;*/
			border-radius: 5px;
			-webkit-box-shadow: 0px 15px 15px -7px rgba(212,212,212,1);
			-moz-box-shadow: 0px 5px 15px -7px rgba(212,212,212,1);
			box-shadow: 0px 5px 15px -7px rgba(212,212,212,1);
		}

		.listing-img {
			color: white;
			padding: 15px;
			position: relative;
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		min-height: 200px;
  		-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;

			&:hover {
				.location-name {
					opacity: 0;
				}
				.location-details {
					opacity: 1;
				}
			}

			.location-name {
				position: absolute;
				bottom: 15px;
				opacity: 1;
				text-shadow: 0px 1px 3px rgba(91, 91, 91, 1);
				text-transform: capitalize;
			}

			.location-details {
				transition: opacity 0.5s ease-in-out;
				opacity: 0;
				padding: 25px;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				display: inline-block;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8b32+0,ffc089+100 */
				background: rgba(255,139,50,0.8); /* Old browsers */
				background: -moz-linear-gradient(-45deg, rgba(255,139,50,0.8) 0%, rgba(255,192,137,0.8) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(-45deg, rgba(255,139,50,0.8) 0%,rgba(255,192,137,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(135deg, rgba(255,139,50,0.8) 0%,rgba(255,192,137,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8b32', endColorstr='#ffc089',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

				.user-img {
					display: inline-block;
					float: left;
					/*margin-bottom: 50px;*/
					width: 40px;
					height: 40px;
					border-radius: 50%;
					border: 2px solid white;
					background: 
						url("http://tinyhousepins.com/wp-content/uploads/2013/08/might-micro-house-on-wheels-for-sale-01-600x450.jpg") no-repeat center center; 
		  			-webkit-background-size: cover;
		  			-moz-background-size: cover;
		  			-o-background-size: cover;
		  			background-size: cover;
				}

				.user-details {
					/*float: right;*/
					margin-bottom: 15px;
					vertical-align: top;
					display: inline-block;
					margin-left: 25px;

					.user-name {
						display: block;
						font-weight: 300;
						font-size: 1rem;
						margin-bottom: 5px;
					}
					
					.date-posted {
						display: block;
						color: rgba(255, 255, 255, 0.8);
						font-size: 0.85rem;
					}
				}

				.listing-details {
					font-size: 0.85rem;
					margin-left: 65px;
					margin-bottom: 15px;
					
					.fas {
						display: inline-block;
						margin-right: 10px;
					}
					
					span {
						display: inline-block;
						margin-bottom: 5px;
						font-weight: 300;
						vertical-align: top;
						position: relative;
						top: 1px;
					}
				}

				.view-btn {
					margin-left: 20%;
					background: black;
					color: white;
					padding: 10px;
					font-size: 0.85rem;
					font-weight: 300;
					text-align: center;
					border-radius: 5px;
					max-width: 150px;
					transition: background 0.2s ease-in-out;
					&:hover {
						background: $mutedGreen;
						color: white;
						cursor: pointer;
					}
				}
			}		
		}
		.listing-bottom {
			padding: 10px 15px;
			display: inline-block;

			span {
				display: block;
				margin-bottom: 5px;
				font-size: 0.85rem;
				color: $darkBrown;
			}
			
			.fas {
				margin-right: 10px;
			}

			.listing-location {
				color: rgba(142, 109, 87, 0.8);
				font-size: 0.9rem;
			}
		}
	} /* end of listings-results */

	.pagination {
		color: $darkBrown;
		text-align: center;

		.pagination-num {
			background: white;
			border-radius: 5px;
			display: inline-block;
			-webkit-box-shadow: 0px 15px 15px -7px rgba(212,212,212,1);
			-moz-box-shadow: 0px 5px 15px -7px rgba(212,212,212,1);
			box-shadow: 0px 5px 15px -7px rgba(212,212,212,1);
			li {
				list-style: none;
				display: inline-block;
				padding: 10px;
				margin: 2px;

				&:hover, 
				&.active {
					background: $mutedGreen;
					font-weight: 400; 
					cursor: pointer;
					border-radius: 5px;
				}
			}
		}	
	}

	.listing-col {
		width: 33.3%;
		display: inline-block;
		padding: 0 15px 15px 15px;
	}


	.listing-col-full {
		width: 100%;
		display: inline-block;
		padding: 0 15px 15px 15px;
	}
}